<section
  class="hero-section min-h-[40rem] flex flex-col justify-center items-center w-screen">
  <div class="text-center max-w-xl flex flex-col items-center">
    <h1 class="text-5xl md:text-6xl">Websites Solidly Built, Brick by Brick.</h1>

    <p class="text-lg mt-4 mb-8">I’m a Web Designer and Developer for Vincent Design. I make websites that are built to last, geared to perform, and designed with care.</p>

    <div class="flex flex-col sm:flex-row">
      <button class="btn btn-primary mb-2 sm:mb-0 sm:mr-2 max-sm:min-w-full">
        Wassup
      </button>
    </div>
  </div>
  <div class="mt-16 z-[-5] opacity-20 absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"></div>
</section>